<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.105.0" manuallyInstalled="true" />
  <package id="ClosedXML.Parser" version="2.0.0" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" />
  <package id="EntityFramework" version="6.4.4" />
  <package id="ExcelNumberFormat" version="1.1.0" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" />
  <package id="RBush.Signed" version="4.0.0" />
  <package id="SQLite.Interop" version="1.0.0" manuallyInstalled="true" />
  <package id="SixLabors.Fonts" version="1.0.0" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.119" />
  <package id="System.CodeDom" version="4.7.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" />
  <package id="System.Data.SQLite" version="1.0.119" manuallyInstalled="true" />
  <package id="System.Data.SQLite.Core" version="1.0.119" />
  <package id="System.Data.SQLite.EF6" version="1.0.119" />
  <package id="System.Data.SqlClient" version="4.8.1" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" />
  <package id="System.IO.Packaging" version="8.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" />
  <package id="System.Security.Permissions" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" />
  <package id="linq2db" version="5.4.1" manuallyInstalled="true" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.7.0" />
  <package id="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
</packages>