<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" manuallyInstalled="true" />
  <package id="Accord.MachineLearning" version="3.8.0" manuallyInstalled="true" />
  <package id="Accord.Math" version="3.8.0" manuallyInstalled="true" />
  <package id="Accord.Statistics" version="3.8.0" manuallyInstalled="true" />
  <package id="SQLite.Interop" version="1.0.0" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="linq2db" version="5.4.1" manuallyInstalled="true" />
</packages>